@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap');

:root {
    --c1: hsl(0, 10%, 90%);
    --c2: hsl(180, 100%, 90%);
    --c3: hsl(330, 100%, 90%);
    --c4: hsl(60, 100%, 90%);
    --pd: 'Playfair Display';
    --m: 'Merriweather';
}

body {background-color: var(--c1);}

/* --------------------- Container Styles --------------------- */

#container {
    display: block;
    background-color: var(--c2);
    width: 80vw;
    height: 80vh;
    margin: 5% auto;
    border: 2px solid #888888;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
}

/* --------------------- Alert Styles --------------------- */
#alerts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px auto;
    border-radius: 5px;
    padding: 10px 50px;
}

.alerts {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7.5px;
    box-shadow: 1px 2px 0 1px black;
    font-family: var(--m, serif);
    font-size: 3vh;
    text-align: center;
}

#wrong {
    background-color: #F00;
    color: white;
    visibility: hidden;
}

#score {
    background-color: var(--c4);
    color: grey;
}

#correct {
    background-color: #0A0;
    color: white;
    visibility: hidden;
}

/* --------------------- Questions Styles --------------------- */
#questions {
    background-color: var(--c3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 0 1px grey;
    width: 80%;
    height: 40%;
    font-family: var(--pd, sans-serif);
    font-size: 8vh;
    font-weight: bold;
}

/* --------------------- Instructions Styles --------------------- */
#instructions {
    background-color: var(--c4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 0 1px grey;
    width: 90%;
    height: 10vh;
    font-family: var(--m, serif);
    font-size: 3vh;
    color: grey;
    text-align: center;
}